body {
    background-color: #F6F6F6;
    min-height: 100vh;
    padding: 30px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 390px;
    width: 100%;
}

.main__top {
    max-width: 390px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 0 20px;
    position: relative;
}

.arrow {
    position: absolute;
    left: 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.main__heading {
    line-height: 1.25;
    font-weight: 700;
    display: none;
    text-decoration: none;
    color: #000;
}

.main__heading.active {
    display: block;
}

.page-number {
    font-size: 14px;
    line-height: 17px;
    color: #898989;
}

.employee-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px 24px;
    margin: 10px auto 0;
}



.form-input {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.form-input > label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.form-input > input {
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
    height: 60px;
    padding: 0 16px;
    outline: 0;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
}

.form-input > input:focus {
    background: rgba(43, 75, 242, 0.06);
    border: 1.8px solid #6499FF;
}

.form-input.succeed > input {
    border: 1.8px solid #8AC0E2;
    background-image: url(../assets/succeed.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form-input-warning {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}

.form-input.error label,
.form-input.error span {
    color: #E52F2F;
}

.form-input.error input {
    border-color: #E52F2F;
}

select {
    border: 0;
    outline: 0;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #EBEBEB;
    border-radius: 8px;
    background-image: url("../assets/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
    font-weight: 600;
}

select.error {
    border: 1.8px solid #E52F2F;
}

option {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: white;
}

.button--small {
    padding: 12px 45px;
    width: fit-content;
    margin-left: auto;
}

/* Laptop Info */

.laptop-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}

.laptop-info-group {
    padding: 30px 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.label-image {
    width: 100%;
    height: 244px;
    border-radius: 8px;
    border: 2px dashed #4386A9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    background-image: url(../assets/camera.svg);
    background-color:  #F7F7F7;
    background-repeat: no-repeat;
    background-position: top 60px center;
}

.upload-image-desktop {
    display: none;
}

.label-image > .button {
    display: none;
}

.label-image.error {
    border-color: #E52F2F;
    background-color: #FFEDED;
    background-image: url(../assets/camera.svg), url(../assets/error.svg);
    background-position: top 60px center, bottom 25px center;
}

.label-image > span {
    color: #4386A9;
    max-width: 150px;
    text-align: center;
}

.label-image.error > span {
    color: #E52F2F;
}

.input-image {
    visibility: hidden;
    width: 100%;display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-radio {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
}

.form-input-radio >label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    max-width: fit-content;
    position: relative;
}

.form-input-radio.error > label {
    color: #E52F2F;
}

#laptop_price {
    background-image: url(../assets/lari.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

.form-input-radio.error > label::after {
    position: absolute;
    right: -2rem;
    content: url(../assets/error.svg);
}

.form-input-radio.succeed > label::after {
    position: absolute;
    right: -2rem;
    content: url(../assets/succeed.svg);
}

.radio-buttons {
    display: flex;
    gap: 60px;
    align-items: center;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.buttons > .button {
    padding: 12px 16px;
}



@media screen and (min-width: 1440px) {
    body {
        padding-top: 90px;
    }

    .main {
        max-width: 1225px;
    }

    .main__top {
        position: static;
        margin: auto;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    .main__heading {
        font-size: 20px;
        line-height: 24px;
        position: relative;
        cursor: pointer;
        display: block;
    }

    .main__heading.active::after {
        content: "";
        position: absolute;
        width: 90%;
        left: 5%;
        height: 2px;
        background-color: #000;
        top: calc(100% + 15px);
    }

    .arrow {
        left: 70px;
        background: #D9D9D9;
        border-radius: 50%;
        width: 53px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-number {
        display: none;
    }

    .employee-info {
        gap: 40px;
        border-radius: 18px;
        padding: 88px 150px 44px; 
        margin: 20px auto 0;
    }

    .two-input-container {
        display: flex;
        align-items: center;
        gap: 66px;
    }

    .two-input-container > .form-input-radio {
        margin: 0;
    }

    .two-input-container > select {
        margin-top: 20px;
    }

    /* Laptop info */


    .laptop-info {
        flex-direction: column;
        gap: 0;
        margin-top: 10px;
    }

    .laptop-info-group {
        border-radius: 0;
        padding: 88px 150px 44px; 
        position: relative;
    }

    .laptop-info-group:not(:last-of-type)::after {
        content: "";
        position: absolute;
        max-width: 925px;
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #D9D9D9;
    }

    .label-image {
        height: 423px;
        border-radius: 18px;
        gap: 50px;
        position: relative;
        background-image: none;
    }

    .label-image > .button {
        display: block;
    }

    .upload-image-mobile {
        display: none;
    }

    .upload-image-desktop {
        display: block;
        position: absolute;
        top: 105px;
        font-size: 20px;
        line-height: 38px;
        max-width: 195px !important;
    }

    .label-image > .button--small {
        margin: 0;
        position: absolute;
        bottom: 115px;
    }

    .label-image.error {
        background-image: url(../assets/error.svg);
        background-position: top 54px center;
        background-size: 38px 34px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .gap-24 {
        gap: 24px;
    }

}
    